- const title = "Titre de l'article"

html(lang="fr")
    include components/_head.pug
    body
        include components/_header.pug 
        .container
            .card.p-2
                .row
                    .col-12.my-auto
                        img.w-100(src="https://dummyimage.com/1920x1080/333/fff")
                .row.p-4
                    .col-12
                        p.text-justify Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum neque, rerum nostrum ipsam similique libero molestias, aut eaque quae magni corporis. 
                        p.text-justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus possimus iure dicta maiores sequi quasi earum tenetur eaque fugit quisquam, nesciunt blanditiis et soluta ut eveniet autem aut numquam excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptatum iste error, debitis repellat magni sed ipsum tempora recusandae mollitia dignissimos facere quo consequuntur? Voluptates earum ipsa adipisci tempora dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, dolores accusamus? Sunt accusamus ab perferendis consequuntur, cum provident quasi saepe, id commodi eveniet voluptatibus nobis, asperiores rerum nemo fugiat cumque?
                        p.text-justify Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum neque, rerum nostrum ipsam similique libero molestias, aut eaque quae magni corporis. 
                        p.text-justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus possimus iure dicta maiores sequi quasi earum tenetur eaque fugit quisquam, nesciunt blanditiis et soluta ut eveniet autem aut numquam excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptatum iste error, debitis repellat magni sed ipsum tempora recusandae mollitia dignissimos facere quo consequuntur? Voluptates earum ipsa adipisci tempora dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, dolores accusamus? Sunt accusamus ab perferendis consequuntur, cum provident quasi saepe, id commodi eveniet voluptatibus nobis, asperiores rerum nemo fugiat cumque?
                        p.text-justify Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum neque, rerum nostrum ipsam similique libero molestias, aut eaque quae magni corporis. 
                        p.text-justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus possimus iure dicta maiores sequi quasi earum tenetur eaque fugit quisquam, nesciunt blanditiis et soluta ut eveniet autem aut numquam excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptatum iste error, debitis repellat magni sed ipsum tempora recusandae mollitia dignissimos facere quo consequuntur? Voluptates earum ipsa adipisci tempora dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, dolores accusamus? Sunt accusamus ab perferendis consequuntur, cum provident quasi saepe, id commodi eveniet voluptatibus nobis, asperiores rerum nemo fugiat cumque?
            
        include components/_footer.pug
        include components/_javascript.pug