- const title = "Droits utilisateurs"

- var users = {"admin" : ["Administrateur", "06/09/2005", "LonelyAdmin@gmail.com"], "intellick" : ["Utilisateur", "25/11/2006", "GreatProgrammer@gmail.com"], "misterTopics" : ["Administrateur", "19/03/2005", "IncredibleAdmin@gmail.com"], "kinLadyWeb" : ["Utilisateur", "30/12/2005", "HollowDesigner@gmail.com"], "cosetod" : ["Utilisateur", "06/10/2006", "PeacefulGamer@gmail.com"], "cleverTinker" : ["Utilisateur", "28/02/2006", "SuperAcidicGeek@gmail.com"]}


html(lang="fr")
    include components/_head.pug
    body
        include components/_header.pug  
        .container
            table#userGrid
                tr  
                    th username
                    th Rôle
                    th Date d'inscription
                    th Email
                each value, user in users
                    tr
                        td #{user}
                        td #{value[0]}
                        td #{value[1]}
                        td #{value[2]}
                        td 
                            input(type="checkBox")
            center
                .btn.btn-success.m-3 Modifier
                .btn.btn-danger.m-3 Supprimer
        include components/_footer.pug
        include components/_javascript.pug