- var styles = ["lib/bootstrap/bootstrap.min.css", "css/app.css", "https://use.fontawesome.com/releases/v5.3.1/css/all.css"]

each value in styles
    link(href=value, rel="stylesheet", type="text/css")